
<!-- <div>
    <form (ngSubmit)="onAdd()">
    <div class="mb-3 container">
    <label for="exampleFormControlInput1" class="form-label">EMP ID</label>
    <input style=" width: 264px" [(ngModel)]="empID" type="number" class="form-control" id="empID"   >
  </div>
  <div class="mb-3 container">
    <label for="exampleFormControlTextarea1" class="form-label">First Name</label>
    <input style=" width: 264px" type="text" [(ngModel)]="fName" class="form-control" id="fName" rows="3">
  </div>
  <div class="mb-3 container">
    <label for="exampleFormControlTextarea1" class="form-label">Last Name</label>
    <input style=" width: 264px" type="text" [(ngModel)]="lName" class="form-control" id="lName" rows="3">
  </div>
  <div class="mb-3 container">
    <label for="exampleFormControlTextarea1" class="">Designation</label>
    <input style=" width: 264px" type="text" [(ngModel)]="desg" class="form-control" id="desg" rows="3">
  </div>
  <button type="submit" class="btn button-primary">Add Emp</button> 
</form>
</div> -->

  <!-- <button (click)="submit(e)" class="btn button">Submit</button> -->